html, body, #root, .App {
    margin: 0;
    height: 100%
}

@font-face {
    font-family: "GmarketBold";
    src: url("./fonts/GmarketSansTTFBold.ttf");
}

@font-face {
    font-family: "GmarketLight";
    src: url("./fonts/GmarketSansTTFLight.ttf");
}

@font-face {
    font-family: "GmarketMedium";
    src: url("./fonts/GmarketSansTTFMedium.ttf");
}

@font-face {
    font-family: 'HallymGothic-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareEB';
    src : url('./fonts/NanumSquareEB.ttf');
}

@font-face {
    font-family: 'NanumSquareB';
    src : url('./fonts/NanumSquareB.ttf');
}

@font-face {
    font-family: 'NanumSquareL';
    src : url('./fonts/NanumSquareL.ttf');
}

@font-face {
    font-family: 'NanumSquareR';
    src : url('./fonts/NanumSquareR.ttf');
}